<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>🛒 <%= title %></h1>
        

        <!-- Formularz wyszukiwarki dla klienta -->
        <h3>Sprawdź swoje zamówienia</h3>
        <form action="/search" method="GET">
            <input type="text" name="name" placeholder="Wpisz swoje imię i nazwisko z Facebooka" required>
            <button type="submit">Szukaj</button>
        </form>

        <hr>
        </div>
</body>
</html>
